.hero {
  width: 599px;
  min-width: 599px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);

  &__video {
    video {
      width: 100%;
      height: auto;
    }
    &--para {
      width: 599px;
      min-width: 599px;
      height: 200px;
      margin-top: -10px;
      background-color: var(--gray);
      color: var(--light);
      // border: 1px red dotted;

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px;
      gap: 15px;

      &-underline {
        text-decoration: underline;
      }
    }
  }

  &__ceo {
    background-image: url(../../images/ceo1.svg);
    width: 599px;
    min-width: 599px;
    margin-top: 10px;
    position: relative;
    height: 600px;
    background-repeat: none;
    color: var(--light);

    &--text {
      background-color: var(--gamma);
      opacity: 0.5;
      position: absolute;
      bottom: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 200px;
      padding-left: 30px;
      padding-right: 30px;
      gap: 15px;

      &-underline {
        text-decoration: underline;
      }
    }
  }

  &__weld {
    &--pic {
      background-image: url(../../images/weld2.svg);
      // border: 1px blue dotted;
      width: 599px;
      height: 330px;
      margin-top: 8px;
    }

    &--par {
      width: 599px;
      min-width: 599px;
      height: 200px;
      background-color: var(--gray);
      color: var(--light);
      // border: 1px red dotted;

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px;
      gap: 15px;

      &-underline {
        text-decoration: underline;
      }
    }
  }

  &__satelite {
    &--pic {
      background-image: url(../../images/satelite3.svg);
      // border: 1px blue dotted;
      width: 599px;
      height: 330px;
      margin-top: 8px;
    }

    &--tex {
      width: 599px;
      min-width: 599px;
      height: 200px;
      background-color: var(--skills);
      color: var(--gamma);
      // border: 1px red dotted;

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px;
      gap: 15px;

      &-underline {
        text-decoration: underline;
      }
    }
  }

  &__city {
    &--pic {
      background-image: url(../../images/city4.svg);
      // border: 1px blue dotted;
      width: 599px;
      height: 330px;
      margin-top: 8px;
    }

    &--pa {
      width: 599px;
      min-width: 599px;
      height: 200px;
      background-color: var(--skills);
      color: var(--gamma);
      // border: 1px red dotted;

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px;
      gap: 15px;

      &-underline {
        text-decoration: underline;
      }
    }
  }

  @media screen and (min-width: 600px) {
    width: 959px;
    min-width: 959px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);

    &__video {
      grid-column: 1/3;
      grid-row: 1/2;

      video {
        width: 100%;
        height: auto;
      }
      &--para {
        width: 959px;
        min-width: 959px;
        height: 200px;
        margin-top: -10px;
        background-color: var(--gray);
        color: var(--light);
      }
    }

    &__ceo {
      border: 1px red dotted;
      grid-column: 1/2;
      grid-row: 2/3;

      background-image: url(../../images/ceo11.svg);
      width: 474.5px;
      min-width: 474.5px;
      position: relative;
      height: 458px;
      background-repeat: none;
      color: var(--light);
    }

    &__weld {
      border: 2px blue solid;
      width: 474.5px;
      min-width: 474.5px;
      height: 458px;
      grid-column: 2/3;
      grid-row: 2/3;

      &--pic {
        background-image: url(../../images/weld22.svg);
        background-repeat: none;
        // border: 1px blue dotted;
        width: 474.5px;
        min-width: 474.5px;
        height: 258px;
        // margin-top: 8px;
      }

      &--par {
        width: 474.5px;
        min-width: 474.5px;
        height: 200px;
        background-color: var(--gray);
        color: var(--light);
      }
    }
  }
}
